.container {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 2fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    row-gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "menu menu menu"
      "leftMenu leftMenu mainPage"
      "leftMenu leftMenu mainPage";
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  
  .menu {
    display: grid;
    grid-area: menu;
    border-radius: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      ". logo . . .";
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  
  .logo {
    grid-area: logo;
    padding: 3%;
  }
  .redform{
    display: grid;
    font-size: 16px;
    grid-template-columns: 220px 0.6fr;
    gap: 8px;
  }
  .avatarform{
    display: grid;
    font-size: 16px;
    grid-template-columns: 10px 1fr;
    gap: 8px;
  }
  label {
    grid-column: 1 / 2;
    font-weight: bold;
  }
  
  input, text {
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #f0f0f0;
    background: white;
    border-radius: 8px;
  }
  .input{
    font-size: 13px;
    padding: 5%;
    border: 2px solid #f0f0f0;
    background: white;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  
  input,
  button {
    grid-column: 2 / 3;
  }
  input,
  textarea {
    grid-column: 2 / 3;
  }
  .input:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  }
  .btn {
  
    outline: none;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
  }
  
  .btn:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  }
  
  .btn:active {
    background-color: #f0f0f0;
  }
  
  
  .leftMenu {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    min-width: 350px;
    grid-template-areas: 
    ". . ."
    ". widget ."
    ". . .";
    grid-area: leftMenu;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  
  
  .description {
    margin-top: 20px;
    text-align: center;
  }
  
  
  .mainPage {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr;
    grid-template-rows: 0.5fr;
    height: 100%;
  
    gap: 8px 8px;
    grid-auto-flow: row;
    grid-template-areas:
      "userAvatar userList .";
    grid-area: mainPage;
  }
  
  .avatarimage {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  
  .userAvatar {
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.2fr;
    grid-template-rows: 0.2fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". avatar .";
    grid-area: userAvatar;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  }
  
  .avatar {
    
    display: grid;
    grid-template-columns: 0.3fr 2fr 0.3fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". avatarplace ."
      ". redAvatar .";
    grid-area: avatar;
  }
  .redAvatar{
    grid-area: redAvatar;
    padding: 5%;
    align-self: center;
  }
  .avatarplace {
    grid-area: avatarplace;
  }
  
  .actions {
    grid-area: actions;
  }
  
  .actionButt {
    grid-area: actionButt;
  }
  
  .messageButton {
    grid-area: messageButton;
  }
  
  .friendList {
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.1fr;
    grid-template-rows: 0.05fr 1.5fr 0.1fr;
    gap: 0px 0px;
    order: 1;
    grid-auto-flow: row;
    grid-template-areas:
      ". FriendLabel ."
      ". FriendListOut ."
      ". . .";
    grid-area: friendList;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  
  }
  
  .FriendLabel {
    grid-area: FriendLabel;
    padding: 3%;
    text-align: center;
  }
  
  .FriendListOut {
    grid-area: FriendListOut;
  }
  
  .AllFriendsButton {
    grid-area: AllFriendsButton;
  }
  
  .userList {
    display: grid;
    grid-template-columns: 0.05fr 3fr 0.05fr;
    grid-template-rows: 2fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "userInfo userInfo userInfo";
    grid-area: userList;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  
  }
  
  .userName {
    display: grid;
    grid-template-columns: 0.05fr 1fr 0.05fr;
    grid-template-rows: 0.05fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". userFullName ."
      ". userStatus .";
    grid-area: userName;
  }
  
  .userStatus {
    grid-area: userStatus;
    padding-left: 2%;
  
  }
  
  .userFullName {
    grid-area: userFullName;
    font-weight: 600;
    font-size: 20px;
    padding: 2%;
  }
  
  .userInfo {
    grid-area: userInfo;
    padding: 3%;
    min-width: 355px;
  }
  

  
  .redButton {
    grid-area: redButton;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: 0.05fr 2fr 0.05fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". galleryLabel ."
      ". PhotoOut ."
      ". . .";
    grid-area: gallery;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  
  }
  
  .PhotoOut {
    grid-area: PhotoOut;
  }
  
  .galleryLabel {
    grid-area: galleryLabel;
    padding: 3%;
    text-align: center;
  }
  
  .footer {
    grid-area: footer;
  }
  
  
  html, body, .container {
    height: 100%;
    margin: 0;
  }
  /*Стили для меню*//*Стили для меню*//*Стили для меню*//*Стили для меню*//*Стили для меню*//*Стили для меню*/
  .widget {
    grid-area: widget;
    display: grid;
    grid-auto-flow: row;
    padding: 35px;
    border: 5px solid #f1f1f1;
    background: #fff;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
  }
  .widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 250px;
  }
  .widget li {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 40px;
    text-align: left;
  }
  .widget li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .widget a {
    text-decoration: none;
    color:  #616a6b;
  }
  .widget li:before {
    font-family: FontAwesome;
    font-size: 20px;
    vertical-align:bottom;
    color: black; 
    margin-right: 14px;
  }
  .widget li:nth-child(1):before {content:"\f007";}
  .widget li:nth-child(2):before {content:"\f075";}
  .widget li:nth-child(3):before {content:"\f0c0";}
  .widget li:nth-child(4):before {content:"\f1c5";}
  .widget li:nth-child(5):before {content:"\f00d";}